<div class="results">
  <table class="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Fuel Types</th>
      <th>Distance</th>
      <th>Access Times</th>
    </tr>
    <% @results[:fuel_stations].each_with_index do |station, i| %>
      <tr id="<%= i+1 %>">
        <td><%= i+1 %>.</td>
        <td><%=station[:station_name] %></td>
        <td><%=station[:street_address] %></td>
        <td><%=station[:fuel_type_code] %></td>
        <td><%=station[:distance] %> miles</td>
        <td><%=station[:access_days_time] %></td>
      </tr>
    <% end %>
</table>
</div>
